*{
    box-sizing: border-box;
    
}

@font-face {
    font-family:noirRegular;
    src: url(fonts/NoirPro-Regular.ttf);
  
}
@font-face {
    font-family:noirprobold ;
    src: url(fonts/NoirPro-Bold.ttf);
}
@font-face {
    font-family: googlesansregular;
    src: url(fonts/GoogleSans-Regular.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: googlesansbold;
    src: url(fonts/GoogleSans-Bold.ttf);
}
@media only screen and (max-width: 375px){
    *{
        box-sizing: border-box;
    }
    
        
    [class*="col"]{
        width: 100%;
    }
    .text {
        justify-content: center !important;

        padding-right: 500px !important;
        padding-left: 50px !important;
        padding-top: 1px !important;
        font-weight: normal;
        font-size: 25px !important;
        text-align: center !important;
    }
    .paddown{
        padding-bottom: 1px;
    }
    .rbutton{
        display: none;
    }
   footer{
       width: 100%;
   }
   .head{
       width: 100%;
       text-align: center;
       padding-right: 40px;
   }
   .imgsize{
       width:100%;
      
   }
   .fill{
       width: 100%;
   }
   .paddingbut{
       padding-bottom: 30px;
   }


}